body {
  background: red;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin: 0;
}

nav {
}

ul {
}

ul li {
}

li a {
  color: #000000;
}

/** 750px以下 **/
@media screen and (max-width: 750px) {
  body {
    background: yellow;
  }
}
