---
---

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background-color: #ffffff;
  margin: 0;
}

header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 46px;
  border-bottom: 2px solid #dadada;
  position: fixed;
}

main {
  padding-top: 48px;
}

footer {
  background: #2c2c2c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 128px;
}

.logo {
  p {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0 8px;
  }
}

.menubar {
  ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    width: 80px;
    text-align: center;
    line-height: 46px;
  }

  a:hover {
    background-color: #ededed;
  }
}

.b2 {
  width: 70%;
  margin: 0 auto;
  padding: 16px 0;
}

.b3 {
  color: #000000;
  border: 2px solid #e5e5e5;
  border-radius: 15px;
  padding: 0 24px 32px;

  h1 {
    text-align: center;
  }

  table {
    width: 100%;
    border-top: 2px solid #e5e5e5;
    border-spacing: 0;
  }

  tr {
    height: 64px;
  }

  th {
    width: 25%;
  }

  td {
    width: 80%;
  }

  th,
  td {
    border-bottom: 2px solid #e5e5e5;
    padding: 12px 0;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 4px;

  span {
    color: #ffffff;
    background-color: #26c6da;
    display: inline-block;
    padding: 2px 12px 4px 12px;
    border-radius: 999px;
  }
}

.linkicon {
  display: flex;
  flex-direction: row;

  a {
    text-decoration: none;
    width: 24px;
    height: 24px;
  }
}

#github {
  color: #ffffff;
  width: 24px;
  height: 24px;
}

#copyright {
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .b2 {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .b1 {
    margin: 0 16px;
  }

  .b2 {
    width: 100%;
  }
}
