body {
  background: #ffffff;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin: 0;
}

header {
  background: #eeeeee;
}

header div {
  display: inline-block;
}

footer {
  background: #eeeeee;
}

nav {
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  text-align: center;
  display: inline-block;
}

li a {
  color: #000000;
  text-decoration: none;
}

/** 750px以下 **/
@media screen and (max-width: 750px) {
  body {
    background: yellow;
  }
}
