html {
  overflow: scroll;
}

body {
  font-family: 'Mplus 1p', sans-serif;
}

li {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background: red;
  width: 100%;
  position: fixed;
}

.box1 {
  padding: 8px 16px 0;
}

.box2 {
  background: yellow;
  width: 100%;
}

.logo a {
  color: #000000;
  font-size: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
}

.menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu ul li a {
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 96px;
}

main {
  background: green;
}

.box3 {
  padding: 72px 16px 0;
}

.box4 {
  background: pink;
  height: 800px;
  margin-top: -72px;
  padding-top: 72px;
}